.header_logo__ {
  max-width: 150px;
  min-width: 150px;
  display: block;
  z-index: 1;
  flex-basis: content;
  margin-inline-end: 60px;
  
  @include sm {
    min-width: 100px;
    max-width: 100px;
  }

  .figure__ {
    width: 100%;
  }

  img {
    width: 100%;
    object-fit: contain;
  }
}