.mixitup_controls_wrapper__ {
  padding: 0;
  border: none;
  margin: 0;
  gap: 15px;
  margin-bottom: 55px;
  display: flex;
  align-items: center;
  width: fit-content;
  flex-wrap: nowrap;
  width: 100%;

  @include sm {
    flex-direction: column;
    margin-bottom: 30px;
  }

  @include xs {
    margin-bottom: 15px;
  }

  &.center__ {
    justify-content: center !important;
    min-width: 100% !important;
  }

  &.with_margin {
    margin-bottom: 80px;
  }

  &.small_size_none_margin__ {
    @include sm {
      margin: 0;
    }
  }
  
  &.display_block__ {
    display: block;
    width: 100% !important;
  }

  .filter {
    border: none;
    height: 44px;
    width: fit-content;
    font-size: 14px;
    font-weight: 400;
    text-transform: capitalize;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border-radius: $secondaryBorderRadius;
    color: $primaryColor;
    background-color: transparent;
    border: 1px solid $primaryColor;
    cursor: pointer;
    padding: 14px 41px;
    transition: 0.5s;

    
    @include sm {
      width: fit-content;
      width: 100%;
    }

    &.full_width__ {
      min-width: 100%;
    }
    
    &:hover {
      background-color: rgba($primaryColor , 0.1);
    }
    
    &.mixitup-control-active {
      background-color: $primaryColor;
      color: #fff;
      
      &:hover {
        background-color: $primaryColorHover;
      }
    }
  }

}

.mixitup_box_list {
  display: flex;
  align-items: center;
  gap: 15px;
  min-height: 500px;

  .mix {
    width: 100%;
  }
  
  &.column_dir {
    flex-direction: column;
  }
}