.our_vision_and_message_card__ {
  background-color: rgba($primaryColor,0.2);
  padding: 25px;
  border-radius: $mainBorderRadius;
  margin-top: 60px;
  
  .icon__ {
    margin: 0 auto;
    width: fit-content;
    width: 110px;
    height: 110px;
    max-width: 110px;
    max-height: 110px;
    margin-top: -80px; // half icon hight + padding
    margin-bottom: 10px;
    background-color: rgba($primaryColor,0.2);
    background-color: #D9F2EE;
    border: 3px solid #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    .img-om {
      max-width: 60px;
      max-width: 58px;
    }
  }

  .title__ {
    text-align: center;
    color: $headingMainColor;
    margin-bottom: 5px;
    font-size: 20px;
    font-weight: 700;
  }

  .parag__ {
    font-size: 16px;
    font-weight: 400;
    color: $paragraphMainColor;
    margin: 0;
  }
}