<!DOCTYPE html>
<html lang="ar" dir="rtl">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Thagher Academy</title>

    <link rel="website icon" href="assets/images/logo.png" />

    <link rel="stylesheet" href="assets/css/all.min.css" />
    <link rel="stylesheet" href="assets/css/animate.min.css" />
    <link rel="stylesheet" href="assets/css/jquery-ui.min.css" />
    <link rel="stylesheet" href="assets/css/bootstrap.min_.css" />
    <link rel="stylesheet" href="assets/css/bootstrap-select.min.css" />
    <link rel="stylesheet" href="assets/css/jquery.fancybox.min.css" />
    <link rel="stylesheet" href="assets/css/swiper.min.css" />
    <link rel="stylesheet" href="assets/css/style.css" />
  </head>

  <body>
    <!-- start header  -->

    <header class="main_header__">
      <div class="header_contacts__">
        <div class="container">
          <div class="lang_link_contacts_wrapper__">
            <div class="header_contacts_wrapper__">
              <a href="tel:0556142020" class="link__ header_content_link__">
                <figure class="figure__ icon__">
                  <img
                    class="img-om"
                    src="assets/images/shapes/header_icons/header_contact_icon_call.svg"
                    alt="..."
                  />
                </figure>
                055 614 2020
              </a>
              <a href="#" class="link__ header_content_link__">
                <figure class="figure__ icon__">
                  <img
                    class="img-om"
                    src="assets/images/shapes/header_icons/header_contact_icon_whatsup.svg"
                    alt="..."
                  />
                </figure>
                012 66 2020 7
              </a>
              <a
                href="mailto:info@althager.com"
                class="link__ header_content_link__"
              >
                <figure class="figure__ icon__">
                  <img
                    class="img-om"
                    src="assets/images/shapes/header_icons/header_contact_icon_mail.svg"
                    alt="..."
                  />
                </figure>
                info@althager.com
              </a>
              <a href="tel:0556142020" class="link__ header_content_link__">
                <figure class="figure__ icon__">
                  <img
                    class="img-om"
                    src="assets/images/shapes/header_icons/header_contact_icon_location.svg"
                    alt="..."
                  />
                </figure>
                جدة حي الفيصلية
              </a>
            </div>

            <a class="lang_link__ butt__" href="index_en.html">
              <figure class="figure__ icon__">
                <img
                  src="assets/images/shapes/header_icons/header_lang_link_icon.svg"
                  alt="..."
                />
              </figure>
              <span class="lang_title__">العربية</span>
              <figure class="figure__ reload_icon__">
                <img
                  src="assets/images/shapes/header_icons/header_lang_link_reload_arrow.svg"
                  alt="..."
                />
              </figure>
            </a>
          </div>
        </div>
      </div>
      <div class="fixed_header__">
        <div class="container">
          <div class="header_content__">
            <a class="header_logo__" href="index.html">
              <figure class="figure__">
                <img src="assets/images/logo.svg" alt=".." />
              </figure>
            </a>

            <nav class="nav-om" id="navbar-menu-om">
              <button class="close-button__"></button>

              <figure class="figure__ nav_logo__">
                <img src="assets/images/logo.svg" alt=".." />
              </figure>

              <ul class="nav-list-om list-unstyled">
                <li class="header_list_item__">
                  <a href="index.html">الرئيسية</a>
                </li>
                <li class="header_list_item__">
                  <a class="" href="about_us.html">من نحن</a>
                </li>
                <li class="header_list_item__ dropdown__">
                  <a href="#!">
                    التخصصات 
                    <svg class="icon__" id="arrow-down_bold" data-name="arrow-down/bold" xmlns="http://www.w3.org/2000/svg" width="19.094" height="19.094" viewBox="0 0 19.094 19.094">
                      <g id="vuesax_bold_arrow-down" data-name="vuesax/bold/arrow-down">
                        <g id="arrow-down">
                          <path id="Vector" d="M10.278,0H.858a.857.857,0,0,0-.6,1.464L4.375,5.585a1.7,1.7,0,0,0,2.395,0L8.337,4.018,10.89,1.464A.861.861,0,0,0,10.278,0Z" transform="translate(3.979 6.508)" fill="#0061b2"/>
                          <path id="Vector-2" data-name="Vector" d="M0,0H19.094V19.094H0Z" transform="translate(19.094 19.094) rotate(180)" fill="none" opacity="0"/>
                        </g>
                      </g>
                    </svg>
                    
                    </a>
                  <div class="sub-menu__ nav_drop_down_menu">
                    <ul class="nav_drop_down_menu_section__">
                      <h3 class="section_head__">
                        قسم التقنية المدنية والمعمارية
                      </h3>
                      <li>
                        <a href="#" class="link__ header_nav_drop_down_link__">
                          التقنية المعمارية
                        </a>
                      </li>
                      <li>
                        <a href="#" class="link__ header_nav_drop_down_link__">
                          تقنية المساحة
                        </a>
                      </li>
                      <li>
                        <a href="civil_tech.html" class="link__ header_nav_drop_down_link__">
                          التقنية المدنية
                        </a>
                      </li>
                    </ul>
                    <ul class="nav_drop_down_menu_section__">
                      <h3 class="section_head__">قسم تقنية البيئة</h3>
                      <li>
                        <a href="#" class="link__ header_nav_drop_down_link__">
                          حماية البيئة
                        </a>
                      </li>
                      <li>
                        <a href="#" class="link__ header_nav_drop_down_link__">
                          سلامة الأغذية
                        </a>
                      </li>
                    </ul>
                  </div>
                </li>
                <li class="header_list_item__">
                  <a href="registration_requirements.html">متطلبات التسجيل</a>
                </li>
                <li class="header_list_item__ active">
                  <a href="courses_page.html">الدورات</a>
                </li>
                <li class="header_list_item__">
                  <a href="offers.html">العروض</a>
                </li>
                <li class="header_list_item__">
                  <a href="opinions.html">الآراء</a>
                </li>
                <li class="header_list_item__">
                  <a href="contact_us.html">تواصل معنا</a>
                </li>
              </ul>

              <ul class="toolbar_options__ list-unstyled">
                <li class="block__ search_link_item__">
                  <button
                    class="button__ header_search_button"
                    id="header_search_btn"
                  >
                    <img
                      class="icon__"
                      src="assets/images/shapes/header_icons/search.svg"
                      alt="..."
                    />
                  </button>
                </li>
                <li class="block__ dropdown__ info_link_item__">
                  <a class="info_link_block__" href="#!">
                    <figure class="user_img figure__ asp-om loading-omd">
                      <img
                        class="img-om lazy-omd"
                        data-src="assets/images/opinions/01.jpg"
                        alt=""
                      />
                    </figure>
                    مرحبا بك ,
                    <span class="user_name__">حاتم المطيري</span>

                    <img
                      class="icon__ arrow_icon__"
                      src="assets/images/shapes/header_user_drop_dwon_arrow_down.svg"
                      alt=""
                    />
                  </a>
                  <ul class="sub-menu__">
                    <li>
                      <a class="modify_my_data__" href="modify_my_data.html">
                        تعديل بياناتي الشخصية
                      </a>
                    </li>
                    <li>
                      <a class="change_password__" href="change_password.html">
                        تغيير كلمة المرور
                      </a>
                    </li>
                    <li>
                      <button
                        class="signout_link__ list_content__"
                        data-toggle="modal"
                        data-target="#sign_out_modal"
                      >
                        تسجيل الخروج
                      </button>
                    </li>
                  </ul>
                </li>
              </ul>

              <img
                class="bg_icon_svg__"
                src="assets/images/header_nav_background.png"
                alt="..."
              />
            </nav>

            <!-- start active nenu button in small sizes  -->
            <button class="menu_button__ button__" id="menu-butt-activ-om">
              <svg
                aria-hidden="true"
                focusable="false"
                data-prefix="fas"
                data-icon="bars"
                class="svg-inline--fa fa-bars fa-w-14"
                role="img"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 448 512"
              >
                <path
                  fill="currentColor"
                  d="M16 132h416c8.837 0 16-7.163 16-16V76c0-8.837-7.163-16-16-16H16C7.163 60 0 67.163 0 76v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16z"
                ></path>
              </svg>
            </button>
            <!-- end active nenu button in small sizes  -->
          </div>
        </div>
        <div class="overlay"></div>
      </div>
    </header>

    <!-- end header  -->

    <!-- Start Offer Page Section -->
    <main class="course_page__ default_page__">
      <div class="container">
        <div class="row row_modify with_row_gap">
          <div class="col-lg-6 col_start__">
            <figure class="figure__ main_page_photo__ asp-om loading-omd">
              <img
                class="img-om lazy-omd"
                data-src="assets/images/course_cards/01.svg"
                alt="..."
              />
            </figure>
          </div>
          <div class="col-lg-6 col_start__">
            <h2 class="page_main_title__">التقنية المدنية</h2>
            <div class="price_wrapper__">
              <h4 class="price_title__">سعر التخصص</h4>
              <h5 class="price__ page_price_style__">
                1,570 <span class="currency__">ر.س</span>
              </h5>
            </div>
            <p class="head_parag__">
              هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما
              سيلهي القارئ عن التركيز على الشكل الخارجي للنص أو شكل توضع الفقرات
              في الصفحة التي يقرأها
            </p>
            <p class="parag__">
              هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما
              سيلهي القارئ عن التركيز على الشكل الخارجي للنص أو شكل توضع الفقرات
              في الصفحة التي يقرأها. ولذلك يتم استخدام طريقة لوريم إيبسوم لأنها
              تعطي توزيعاَ طبيعياَ -إلى حد ما- للأحرف عوضاً عن استخدام "هنا يوجد
              محتوى نصي، هنا يوجد محتوى نصي" فتجعلها تبدو (أي الأحرف) وكأنها نص
              مقروء. العديد من برامح النشر المكتبي وبرامح تحرير صفحات الويب
              تستخدم لوريم إيبسوم بشكل إفتراضي كنموذج عن النص، وإذا قمت بإدخال
              "lorem ipsum" في أي محرك بحث ستظهر العديد من المواقع الحديثة العهد
              في نتائج البحث. على مدى السنين
            </p>
            <a
              href="#"
              class="link__ submit-button__ fixed_width__ download_form_registration_link__ full_width_sm__ margin_inline_start_auto__"
            >
              <img
                class="icon__"
                src="assets/images/shapes/stickynote_icon.svg"
                alt="..."
              />
              تحميل فورم التسجيل
            </a>
          </div>
        </div>
      </div>
    </main>
    <!-- End Offer Page Section -->

    <!-- Start Footer -->

    <footer class="footer_sec__">
      <div class="container">
        <div class="footer_content__">
          <a class="footer_logo__" href="index.html">
            <figure class="figure__">
              <img src="assets/images/footer_logo.png" alt=".." />
            </figure>
          </a>
          <ul class="footer_list__ list-unstyled">
            <li><a href="index.html">الرئيسية</a></li>
            <li>
              <a href="about_us.html">الدورات</a>
            </li>
            <li><a href="our_services.html">من نحن </a></li>
            <li><a href="our_projects.html">العروض</a></li>
            <li>
              <a href="real_estate.html">التخصصات</a>
            </li>
            <li>
              <a href="real_estate.html">الآراء</a>
            </li>
            <li>
              <a href="real_estate.html">متطلبات التسجيل</a>
            </li>
            <li><a href="contact_us.html">تواصل معنا </a></li>
          </ul>

          <div class="socials_copyrights_wrapper__">
            <h4 class="footer_head_title__">يمكنك متابعتنا من خلال :</h4>
            <ul class="footer_socials__ list-unstyled">
              <li class="li__">
                <a href="#!" class="link__">
                  <img
                    class="img-om"
                    src="./assets/images/socials/twitter_old.svg"
                    alt=".."
                    width=""
                    height=""
                  />
                </a>
              </li>
              <li class="li__">
                <a href="#!" class="link__">
                  <img
                    class="img-om"
                    src="./assets/images/socials/snap_chat.svg"
                    alt=".."
                    width=""
                    height=""
                  />
                </a>
              </li>
              <li class="li__">
                <a href="#!" class="link__">
                  <img
                    class="img-om"
                    src="./assets/images/socials/facebook.svg"
                    alt=".."
                    width=""
                    height=""
                  />
                </a>
              </li>
              <li class="li__">
                <a href="#!" class="link__">
                  <img
                    class="img-om"
                    src="./assets/images/socials/linkedIn.svg"
                    alt=".."
                    width=""
                    height=""
                  />
                </a>
              </li>
              <li class="li__">
                <a href="#!" class="link__">
                  <img
                    class="img-om"
                    src="./assets/images/socials/instagram.svg"
                    alt=".."
                    width=""
                    height=""
                  />
                </a>
              </li>
              <li class="li__">
                <a href="#!" class="link__">
                  <img
                    class="img-om"
                    src="./assets/images/socials/youtube.svg"
                    alt=".."
                    width=""
                    height=""
                  />
                </a>
              </li>
            </ul>

            <div class="copyrights_content___">
              <img
                class="copyright_icon__"
                src="./assets/images/shapes/copyright.png"
                alt=".."
              />

              جميع الحقوق محفوظة - تصميم وبرمجة
              <a
                class="maasader_logo"
                href="https://almasader.sa/"
                target="_blank"
              >
                <img
                  class="copyright_logo__"
                  src="./assets/images/shapes/copyrights.svg"
                  alt=".."
                />
              </a>
            </div>
          </div>
        </div>
      </div>
    </footer>

    <!-- End Footer -->

    <!-- Start Search Section -->
    <section class="search_section" id="search_box">
      <button class="button__ close_search_btn">
        <i class="fa-solid fa-x"></i>
      </button>
      <form class="search_form" id="search_form" action="">
        <div class="search_section_content">
          <input
            class="input__ none_border__"
            id="search_input"
            type="text"
            placeholder="البحث"
          />
          <a href="#" class="button__ search_input_button__">
            <i class="fa-solid fa-magnifying-glass"></i>
          </a>
        </div>
      </form>
      <div class="overlay__"></div>
    </section>
    <!-- End Search Section -->
    <!-- start js include  -->
    <script src="assets/js/jquery-3.3.1.min.js"></script>
    <script src="assets/js/jquery-ui.min.js"></script>
    <script src="assets/js/jquery.datepick-ar.js"></script>
    <script src="assets/js/jquery.fancybox.min.js"></script>
    <script src="assets/js/popper.min.js"></script>
    <script src="assets/js/swiper.min.js"></script>
    <script src="assets/js/bootstrap-select.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/mixitup.min.js"></script>
    <script src="assets/js/repeater.js"></script>
    <script src="assets/js/plugin.js"></script>
  </body>
</html>
