<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Qdra</title>

    <link rel="website icon" href="assets/images/logo.png" />
    <link rel="stylesheet" href="assets/css/all.min.css" />
    <link rel="stylesheet" href="assets/css/animate.min.css" />
    <!-- ############ include only in Arabic pages ############  -->
    <!-- <link rel="stylesheet" href="assets/css/bootstrap-rtl.min.css" /> -->
    <!-- #######################################################  -->
    <!-- ########### include only in English pages ############  -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css" />
    <!-- #######################################################  -->
    <link rel="stylesheet" href="assets/css/bootstrap-select.min.css" />
    <link rel="stylesheet" href="assets/css/jquery.fancybox.min.css" />
    <link rel="stylesheet" href="assets/css/swiper.min.css" />
    <link rel="stylesheet" href="assets/css/aos.css" />
    <link rel="stylesheet" href="assets/css/style.css" />
  </head>

  <body>
    <!-- Start Side Links Section -->
    <section class="side_links_section">
      <ul class="links_wrapper__">
        <li>
          <a href="#" class="link__">
            <img src="assets/images/socials/call.svg" alt="" />
          </a>
        </li>
        <li>
          <a href="#" class="link__">
            <img src="assets/images/socials/what's_up.svg" alt="" />
          </a>
        </li>
        <li>
          <a href="#" class="link__">
            <img src="assets/images/socials/snap_chat.svg" alt="" />
          </a>
        </li>
        <li>
          <a href="#" class="link__">
            <img src="assets/images/socials/facebook.svg" alt="" />
          </a>
        </li>
        <li>
          <a href="#" class="link__">
            <img src="assets/images/socials/instagram.svg" alt="" />
          </a>
        </li>
        <li>
          <a href="#" class="link__">
            <img src="assets/images/socials/twitter_old.svg" alt="" />
          </a>
        </li>
        <li>
          <a href="#" class="link__">
            <img src="assets/images/socials/tiktok.svg" alt="" />
          </a>
        </li>
      </ul>
      <div class="arrow_button__">
        <i class="fa-solid fa-chevron-left"></i>
      </div>
    </section>
    <!-- End Side Links Section -->

    <!-- start header  -->

    <header class="main_header__">
      <div class="top_header__">
        <div class="container">
          <div class="lang_wrapper__">
            <div class="lang__ dropdown__">
              <a class="lang_link__ butt__" href="#!">
                <figure class="figure__">
                  <img src="assets/images/shapes/global.svg" alt="" />
                </figure>
                English
              </a>
              <ul class="sub-menu__">
                <li><a href="index.html">العربية</a></li>
                <li><a href="index_en.html">English</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="fixed_header__">
        <div class="container">
          <div class="header_content__">
            <a class="header_logo__" href="index.html">
              <figure class="figure__">
                <img src="assets/images/logo.png" alt=".." />
              </figure>
            </a>

            <nav class="nav-om" id="navbar-menu-om">
              <button class="close-button__"></button>

              <figure class="figure__ nav_logo__">
                <img src="assets/images/logo.png" alt=".." />
              </figure>

              <ul class="nav-list-om list-unstyled">
                <li class="active">
                  <a href="index.html">Main</a>
                </li>
                <li class="mega_menu__">
                  <a class="" href="about_us.html">About us</a>
                </li>
                <li>
                  <a href="our_services.html">Our services</a>
                </li>
                <li>
                  <a href="our_team.html">Our medical team</a>
                </li>
                <li>
                  <a href="#home_page_download_app_section"
                    >Healthcare services</a
                  >
                </li>
                <li>
                  <a href="contact_us.html">call us</a>
                </li>
                <li>
                  <a href="join_our_team.html">Jobs</a>
                </li>
              </ul>

              <ul class="toolbar_options__ list-unstyled">
                <li class="block__ sing_up_blocks_list_item__">
                  <a
                    class="link__ header_booking_link__"
                    href="contact_us.html"
                  >
                    Book now
                  </a>
                </li>
              </ul>
            </nav>

            <!-- start active nenu button in small sizes  -->
            <button class="menu_button__ button__" id="menu-butt-activ-om">
              <svg
                aria-hidden="true"
                focusable="false"
                data-prefix="fas"
                data-icon="bars"
                class="svg-inline--fa fa-bars fa-w-14"
                role="img"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 448 512"
              >
                <path
                  fill="currentColor"
                  d="M16 132h416c8.837 0 16-7.163 16-16V76c0-8.837-7.163-16-16-16H16C7.163 60 0 67.163 0 76v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16z"
                ></path>
              </svg>
            </button>
            <!-- end active nenu button in small sizes  -->
          </div>
        </div>
        <div class="overlay"></div>
      </div>
    </header>

    <!-- end header  -->

    <!-- Start Home Slider Section -->

    <main class="home_slider_section__">
      <div class="swiper-container home_slider__">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <figure class="figure__ loading-omd asp-om">
              <img
                class="img-om lazy-omd"
                data-src="assets/images/intro/01.jpg"
                alt="..."
              />
            </figure>

            <div class="slider_container__">
              <h1 class="title__">
                <span class="site_name__"> Qdra </span>
                For physical therapy and cupping
              </h1>
              <p class="parag__">
                Physiotherapy uses various methods to restore the patient's
                balance Psychological, physical, improvement, and preserved,
                taking into account Various changes in the health condition of
                the treating person.
              </p>
            </div>
          </div>
          <div class="swiper-slide">
            <figure class="figure__ loading-omd asp-om">
              <img
                class="img-om lazy-omd"
                data-src="assets/images/intro/01.jpg"
                alt="..."
              />
            </figure>

            <div class="slider_container__">
              <h1 class="title__">
                <span class="site_name__"> Qdra </span>
                For physical therapy and cupping
              </h1>
              <p class="parag__">
                Physiotherapy uses various methods to restore the patient's
                balance Psychological, physical, improvement, and preserved,
                taking into account Various changes in the health status of the
                treating person.
              </p>
            </div>
          </div>
          <div class="swiper-slide">
            <figure class="figure__ loading-omd asp-om">
              <img
                class="img-om lazy-omd"
                data-src="assets/images/intro/02.jpg"
                alt="..."
              />
            </figure>

            <div class="slider_container__">
              <h1 class="title__">
                <span class="site_name__"> Qdra </span>
                For physical therapy and cupping
              </h1>
              <p class="parag__">
                Physiotherapy uses various methods to restore the patient's
                balance Psychological, physical, improvement, and preserved,
                taking into account Various changes in the health status of the
                treating person.
              </p>
            </div>
          </div>
          <div class="swiper-slide">
            <figure class="figure__ loading-omd asp-om">
              <img
                class="img-om lazy-omd"
                data-src="assets/images/intro/03.jpg"
                alt="..."
              />
            </figure>

            <div class="slider_container__">
              <h1 class="title__">
                <span class="site_name__"> Qdra </span>
                For physical therapy and cupping
              </h1>
              <p class="parag__">
                Physiotherapy uses various methods to restore the patient's
                balance Physiotherapy uses Various Methods to Restore the
                Patience's Balance Psychological, Physical, Improvement, and
                PRESARID, TAKING
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="arrow_pagination_wrapper__">
        <div class="arrow-sec center__">
          <div class="home_swiper_buttons swiper-button-prev"></div>
          <div class="home_swiper_buttons swiper-button-next"></div>
        </div>
        <div class="swiper-pagination"></div>
      </div>
    </main>

    <!-- End Home Slider Section -->

    <!-- Start About Us Section -->
    <section class="about_us_section default_section__">
      <div class="container">
        <div class="row row_modify with_row_gap">
          <div class="col-lg-6 aos-init aos-animate" data-aos="fade-left">
            <div class="section_head_wrapper__">
              <h2 class="section_main_title__">who are we</h2>
            </div>

            <p class="about_us_main_parag__">
              get to know me <span class="site_name__">َQdra</span> Medical
              treatment Natural and cupping
            </p>
            <p class="parag__">
              There is a fact that is proven for a long time, which is that the
              readable content of a page The reader will be able to focus on the
              exterior of the text or the shape of the vertebrae On the page he
              reads.Therefore, the Lorim Epsum method is used because it is It
              gives a natural distribution - to some extent - to the letters
            </p>
            <a href="#" class="link__ about_us_section_link__">
              see more
              <img
                class="icon__"
                src="assets/images/shapes/about_us_section_link_arrow.svg"
                alt="..."
              />
            </a>
          </div>

          <div class="col-lg-6 aos-init aos-animate" data-aos="fade-right">
            <div class="main_img_wrapper__">
              <figure
                class="figure__ about_us_photo_figure__ loading-omd asp-om"
              >
                <img
                  class="img-om lazy-omd"
                  data-src="assets/images/about_us/01.jpg"
                  alt="..."
                />
              </figure>
            </div>
          </div>
        </div>

        <div
          class="video_block__ about_us_video_block__ aos-init aos-animate"
          data-aos="fade-up"
        >
          <div
            class="row row_modify with_row_gap reverse_dir_column_small_size"
          >
            <div class="col-lg-6">
              <div class="video_block_description_wrapper__">
                <figure class="icon__">
                  <img class="img-om" src="assets/images/logo.png" alt="..." />
                </figure>

                <h4 class="title__">
                  Video containing an introductory tour of our center
                </h4>
                <p class="parag__">
                  There is a fact that is proven for a long time, which is that
                  the readable content of a page The reader will be able to
                  focus on the exterior of the text or the shape placed
                  Paragraphs on the page he reads.Therefore, the Lorim method is
                  used Epsum because it gives a natural distribution - to some
                  extent - for letters instead of Using "Here there is text
                  content, here there are text content" and make it look (That
                  is, letters) as if they were a readable text.Many
                </p>
              </div>
            </div>

            <div class="col-lg-6">
              <a
                data-fancybox="selected_visuals_card__"
                href="assets/images/about_us/02.jpg"
                class="selected_visuals_card__"
              >
                <figure class="figure__ loading-omd asp-om">
                  <img
                    class="lazy-omd img-om"
                    data-src="assets/images/about_us/02.jpg"
                    alt="..."
                  />
                </figure>
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End About Us Section -->

    <!-- Start Our Services Section -->
    <section
      class="our_services_section aos-init aos-animate"
      data-aos="fade-up"
    >
      <div class="our_services_block__">
        <div class="img_wrapper__">
          <figure class="figure__ asp-om loading-omd">
            <img
              class="img-om lazy-omd"
              data-src="assets/images/our_services/01.jpg"
              alt="..."
            />
          </figure>
        </div>

        <div class="content_wrapper__">
          <div class="section_head_wrapper__ white_color">
            <h2 class="section_main_title__">natural therapy</h2>
          </div>
          <p class="parag__">
            Physiotherapy is Physiotherapy Medical profession and one of the
            important branches of medicine, through which specialists do Coaches
            in evaluating and treating the imbalance of the physical function
          </p>
          <a href="physiotherapy.html" class="link__ services_link__">
            Read more
            <img
              src="assets/images/shapes/services_link_arrow_left.svg"
              alt="..."
            />
          </a>
        </div>
      </div>
      <div class="our_services_block__">
        <div class="img_wrapper__">
          <figure class="figure__ asp-om loading-omd">
            <img
              class="img-om lazy-omd"
              data-src="assets/images/our_services/02.jpg"
              alt="..."
            />
          </figure>
        </div>

        <div class="content_wrapper__">
          <div class="section_head_wrapper__ white_color">
            <h2 class="section_main_title__">Cupping</h2>
          </div>
          <p class="parag__">
            Physiotherapy is Physiotherapy Medical profession and one of the
            important branches of medicine, through which specialists do Coaches
            in evaluating and treating the imbalance of the physical function
          </p>
          <a href="cupping.html" class="link__ services_link__">
            Read more
            <img
              src="assets/images/shapes/services_link_arrow_left.svg"
              alt="..."
            />
          </a>
        </div>
      </div>
      <div class="our_services_block__">
        <div class="img_wrapper__">
          <figure class="figure__ asp-om loading-omd">
            <img
              class="img-om lazy-omd"
              data-src="assets/images/our_services/03.jpg"
              alt="..."
            />
          </figure>
        </div>

        <div class="content_wrapper__">
          <div class="section_head_wrapper__ white_color">
            <h2 class="section_main_title__">
              Medical rehabilitation after injuries
            </h2>
          </div>
          <p class="parag__">
            Physiotherapy is Physiotherapy Medical profession and one of the
            important branches of medicine, through which specialists do Coaches
            in evaluating and treating the imbalance of the physical function
          </p>
          <a href="medical_rehabilitation.html" class="link__ services_link__">
            Read more
            <img
              src="assets/images/shapes/services_link_arrow_left.svg"
              alt="..."
            />
          </a>
        </div>
      </div>
    </section>
    <!-- End Our Services Section -->

    <!-- Start Our Team Section -->
    <section class="our_team_section__ default_section__">
      <div class="container">
        <div class="section_head_wrapper__ center">
          <h2 class="section_main_title__ with_margin_bottom__">
            Our medical team
          </h2>
          <h3 class="section_main_sub_title___">
            Learn about our medical team within a center of physical therapy and
            cupping
          </h3>
        </div>

        <div
          class="row row_modify with_row_gap repeater_element__"
          data-repeat="5  "
        >
          <div
            class="col-md-6 col-lg-4 aos-init aos-animate"
            data-aos-offset="200"
            data-aos="flip-up"
          >
            <div class="our_team_card__">
              <div class="img_wrapper__">
                <figure class="figure__ asp-om loading-omd">
                  <img
                    class="img-om lazy-omd"
                    data-src="assets/images/our_team/01.jpg"
                    alt="..."
                  />
                </figure>
              </div>
              <div class="description_wrapper__">
                <h4 class="title__">Abdul Aziz Faisal</h4>
                <h5 class="sub_title__">Physiotherapist</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End Our Team Section -->

    <!-- Start Health Care Services Section -->
    <section
      class="health_care_services_section default_section__ aos-init aos-animate"
      data-aos="fade-down-left"
    >
      <div class="container">
        <div class="section_head_wrapper__ center">
          <h2 class="section_main_title__ with_margin_bottom__">
            Healthcare services
          </h2>
          <h3 class="section_main_sub_title___">
            Learn about our various healthcare services
          </h3>
        </div>

        <div class="slider_content_wrapper__">
          <div
            class="health_care_services_swiper_button swiper-button-prev"
          ></div>

          <div class="swiper-container">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="health_care_services_card__">
                  <figure class="figure__ asp-om loading-omd">
                    <img
                      class="img-om lazy-omd"
                      data-src="assets/images/intro/02.jpg"
                      alt="..."
                    />
                  </figure>

                  <div class="description_wrapper__">
                    <div class="head_wrapper__">
                      <h4 class="title__">medical care</h4>
                      <span class="time__">24\10\2023</span>
                    </div>
                    <p class="parag__">
                      Long and hard this path that the doctor's highness to
                      become a graduate
                    </p>
                    <a href="#" class="link__ health_care_card_link__">
                      reading
                    </a>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="health_care_services_card__">
                  <figure class="figure__ asp-om loading-omd">
                    <img
                      class="img-om lazy-omd"
                      data-src="assets/images/intro/02.jpg"
                      alt="..."
                    />
                  </figure>

                  <div class="description_wrapper__">
                    <div class="head_wrapper__">
                      <h4 class="title__">medical care</h4>
                      <span class="time__">24\10\2023</span>
                    </div>
                    <p class="parag__">
                      Long and hard this path that the doctor's highness to
                      become a graduate
                    </p>
                    <a href="#" class="link__ health_care_card_link__">
                      reading
                    </a>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="health_care_services_card__">
                  <figure class="figure__ asp-om loading-omd">
                    <img
                      class="img-om lazy-omd"
                      data-src="assets/images/intro/02.jpg"
                      alt="..."
                    />
                  </figure>

                  <div class="description_wrapper__">
                    <div class="head_wrapper__">
                      <h4 class="title__">medical care</h4>
                      <span class="time__">24\10\2023</span>
                    </div>
                    <p class="parag__">
                      Long and hard this path that the doctor's highness to
                      become a graduate
                    </p>
                    <a href="#" class="link__ health_care_card_link__">
                      reading
                    </a>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="health_care_services_card__">
                  <figure class="figure__ asp-om loading-omd">
                    <img
                      class="img-om lazy-omd"
                      data-src="assets/images/intro/02.jpg"
                      alt="..."
                    />
                  </figure>

                  <div class="description_wrapper__">
                    <div class="head_wrapper__">
                      <h4 class="title__">medical care</h4>
                      <span class="time__">24\10\2023</span>
                    </div>
                    <p class="parag__">
                      Long and hard this path that the doctor's highness to
                      become a graduate
                    </p>
                    <a href="#" class="link__ health_care_card_link__">
                      reading
                    </a>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="health_care_services_card__">
                  <figure class="figure__ asp-om loading-omd">
                    <img
                      class="img-om lazy-omd"
                      data-src="assets/images/intro/02.jpg"
                      alt="..."
                    />
                  </figure>

                  <div class="description_wrapper__">
                    <div class="head_wrapper__">
                      <h4 class="title__">medical care</h4>
                      <span class="time__">24\10\2023</span>
                    </div>
                    <p class="parag__">
                      Long and hard this path that the doctor's highness to
                      become a graduate
                    </p>
                    <a href="#" class="link__ health_care_card_link__">
                      reading
                    </a>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="health_care_services_card__">
                  <figure class="figure__ asp-om loading-omd">
                    <img
                      class="img-om lazy-omd"
                      data-src="assets/images/intro/02.jpg"
                      alt="..."
                    />
                  </figure>

                  <div class="description_wrapper__">
                    <div class="head_wrapper__">
                      <h4 class="title__">medical care</h4>
                      <span class="time__">24\10\2023</span>
                    </div>
                    <p class="parag__">
                      Long and hard this path that the doctor's highness to
                      become a graduate
                    </p>
                    <a href="#" class="link__ health_care_card_link__">
                      reading
                    </a>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="health_care_services_card__">
                  <figure class="figure__ asp-om loading-omd">
                    <img
                      class="img-om lazy-omd"
                      data-src="assets/images/intro/02.jpg"
                      alt="..."
                    />
                  </figure>

                  <div class="description_wrapper__">
                    <div class="head_wrapper__">
                      <h4 class="title__">medical care</h4>
                      <span class="time__">24\10\2023</span>
                    </div>
                    <p class="parag__">
                      Long and hard this path that the doctor's highness to
                      become a graduate
                    </p>
                    <a href="#" class="link__ health_care_card_link__">
                      reading
                    </a>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="health_care_services_card__">
                  <figure class="figure__ asp-om loading-omd">
                    <img
                      class="img-om lazy-omd"
                      data-src="assets/images/intro/02.jpg"
                      alt="..."
                    />
                  </figure>

                  <div class="description_wrapper__">
                    <div class="head_wrapper__">
                      <h4 class="title__">medical care</h4>
                      <span class="time__">24\10\2023</span>
                    </div>
                    <p class="parag__">
                      Long and hard this path that the doctor's highness to
                      become a graduate
                    </p>
                    <a href="#" class="link__ health_care_card_link__">
                      reading
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div
            class="health_care_services_swiper_button swiper-button-next"
          ></div>
        </div>
        <div
          class="health_care_services_swiper_pagination swiper-pagination"
        ></div>
      </div>
    </section>
    <!-- End Health Care Services Section -->

    <!-- Start Our Partners Section -->
    <section class="our_partners_section default_section__">
      <div class="container">
        <div class="section_head_wrapper__ center">
          <h2 class="section_main_title__ with_margin_bottom__">Our partner</h2>
          <h3 class="section_main_sub_title___">
            Learn about our success partners
          </h3>
        </div>

        <div class="row row_modify with_row_gap">
          <div
            class="col-lg-4 col__ aos-init aos-animate"
            data-aos-offset="-500"
            data-aos="zoom-in"
          >
            <div class="our_partners_card__">
              <figure class="figure__ icon__ loading-omd center">
                <img
                  class="img-om lazy-omd"
                  data-src="assets/images/our_partners/01.png"
                  alt="..."
                />
              </figure>

              <h4 class="title__">Hope clinic</h4>
              <p class="parag__">
                There is a fact that is proven for a long time, which is that
                the readable content of a page The reader will be able to focus
                on the exterior of the text or the shape placed Paragraphs on
                the page he reads.So it is done
              </p>
            </div>
          </div>
          <div
            class="col-lg-4 col__ aos-init aos-animate"
            data-aos-offset="-500"
            data-aos="zoom-in"
          >
            <div class="our_partners_card__">
              <figure class="figure__ icon__ loading-omd center">
                <img
                  class="img-om lazy-omd"
                  data-src="assets/images/our_partners/02.png"
                  alt="..."
                />
              </figure>

              <h4 class="title__">Hope clinic</h4>
              <p class="parag__">
                There is a fact that is proven for a long time, which is that
                the readable content of a page The reader will be able to focus
                on the exterior of the text or the shape placed Paragraphs on
                the page he reads.So it is done
              </p>
            </div>
          </div>
          <div
            class="col-lg-4 col__ aos-init aos-animate"
            data-aos-offset="-500"
            data-aos="zoom-in"
          >
            <div class="our_partners_card__">
              <figure class="figure__ icon__ loading-omd center">
                <img
                  class="img-om lazy-omd"
                  data-src="assets/images/our_partners/03.png"
                  alt="..."
                />
              </figure>

              <h4 class="title__">Hope clinic</h4>
              <p class="parag__">
                There is a fact that is proven for a long time, which is that
                the readable content of a page The reader will be able to focus
                on the exterior of the text or the shape placed Paragraphs on
                the page he reads.So it is done
              </p>
            </div>
          </div>
          <div
            class="col-lg-4 col__ aos-init aos-animate"
            data-aos-offset="-500"
            data-aos="zoom-in"
          >
            <div class="our_partners_card__">
              <figure class="figure__ icon__ loading-omd center">
                <img
                  class="img-om lazy-omd"
                  data-src="assets/images/our_partners/04.png"
                  alt="..."
                />
              </figure>

              <h4 class="title__">Hope clinic</h4>
              <p class="parag__">
                There is a fact that is proven for a long time, which is that
                the readable content of a page The reader will be able to focus
                on the exterior of the text or the shape placed Paragraphs on
                the page he reads.So it is done
              </p>
            </div>
          </div>
          <div
            class="col-lg-4 col__ aos-init aos-animate"
            data-aos-offset="-500"
            data-aos="zoom-in"
          >
            <div class="our_partners_card__">
              <figure class="figure__ icon__ loading-omd center">
                <img
                  class="img-om lazy-omd"
                  data-src="assets/images/our_partners/05.png"
                  alt="..."
                />
              </figure>

              <h4 class="title__">Hope clinic</h4>
              <p class="parag__">
                There is a fact that is proven for a long time, which is that
                the readable content of a page The reader will be able to focus
                on the exterior of the text or the shape placed Paragraphs on
                the page he reads.So it is done
              </p>
            </div>
          </div>
          <div
            class="col-lg-4 col__ aos-init aos-animate"
            data-aos-offset="-500"
            data-aos="zoom-in"
          >
            <div class="our_partners_card__">
              <figure class="figure__ icon__ loading-omd center">
                <img
                  class="img-om lazy-omd"
                  data-src="assets/images/our_partners/01.png"
                  alt="..."
                />
              </figure>

              <h4 class="title__">Hope clinic</h4>
              <p class="parag__">
                There is a fact that is proven for a long time, which is that
                the readable content of a page The reader will be able to focus
                on the exterior of the text or the shape placed Paragraphs on
                the page he reads.So it is done
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End Our Partners Section -->

    <!-- Start Our Customers' Opinions Section -->
    <section class="our_customers_opinions_section default_section__">
      <div class="container">
        <div class="section_head_wrapper__ center">
          <h2 class="section_main_title__ with_margin_bottom__">
            Our customers' opinions
          </h2>
          <h3 class="section_main_sub_title___">
            You have a group of our distinguished customers' opinions
          </h3>
        </div>

        <div class="cards_wrapper__">
          <div class="row row_modify with_row_gap">
            <div
              class="col-lg-6 aos-init aos-animate"
              data-aos-offset="-500"
              data-aos="fade-left"
            >
              <div class="customer_opinions_card__">
                <div class="imgwrapper__">
                  <figure class="figure__ loading-omd asp-om">
                    <img
                      class="img-om lazy-omd"
                      data-src="assets/images/customers_opinions/01.jpg"
                      alt="..."
                    />
                  </figure>
                </div>
                <div class="description_wrapper__">
                  <div class="head_wrapper__">
                    <h4 class="title__">Amna Saud Mahmoud</h4>

                    <div class="rating_wrapper__">
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star active"></i>
                      <i class="fa-solid fa-star active"></i>
                      <i class="fa-solid fa-star active"></i>
                      <i class="fa-solid fa-star active"></i>
                    </div>
                  </div>

                  <p class="parag__">
                    There is a fact that is proven for a long time, which is
                    that the readable content of a page What the reader will be
                    to focus on the exterior of the text
                  </p>

                  <h5 class="loaction__">
                    <img
                      class="icon__"
                      src="assets/images/shapes/customers_opinions_location_icon__.svg"
                      alt="..."
                    />
                    Saudi Arabia, Jeddah, Al -Safa neighborhood
                  </h5>
                </div>
              </div>
            </div>
            <div
              class="col-lg-6 aos-init aos-animate"
              data-aos-offset="-500"
              data-aos="fade-left"
            >
              <div class="customer_opinions_card__">
                <div class="imgwrapper__">
                  <figure class="figure__ loading-omd asp-om">
                    <img
                      class="img-om lazy-omd"
                      data-src="assets/images/customers_opinions/01.jpg"
                      alt="..."
                    />
                  </figure>
                </div>
                <div class="description_wrapper__">
                  <div class="head_wrapper__">
                    <h4 class="title__">Amna Saud Mahmoud</h4>

                    <div class="rating_wrapper__">
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star active"></i>
                      <i class="fa-solid fa-star active"></i>
                      <i class="fa-solid fa-star active"></i>
                      <i class="fa-solid fa-star active"></i>
                    </div>
                  </div>

                  <p class="parag__">
                    There is a fact that is proven for a long time, which is
                    that the readable content of a page What the reader will be
                    to focus on the exterior of the text
                  </p>

                  <h5 class="loaction__">
                    <img
                      class="icon__"
                      src="assets/images/shapes/customers_opinions_location_icon__.svg"
                      alt="..."
                    />
                    Saudi Arabia, Jeddah, Al -Safa neighborhood
                  </h5>
                </div>
              </div>
            </div>
            <div
              class="col-lg-6 aos-init aos-animate"
              data-aos-offset="-500"
              data-aos="fade-left"
            >
              <div class="customer_opinions_card__">
                <div class="imgwrapper__">
                  <figure class="figure__ loading-omd asp-om">
                    <img
                      class="img-om lazy-omd"
                      data-src="assets/images/customers_opinions/02.jpg"
                      alt="..."
                    />
                  </figure>
                </div>
                <div class="description_wrapper__">
                  <div class="head_wrapper__">
                    <h4 class="title__">Amna Saud Mahmoud</h4>

                    <div class="rating_wrapper__">
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star active"></i>
                      <i class="fa-solid fa-star active"></i>
                      <i class="fa-solid fa-star active"></i>
                      <i class="fa-solid fa-star active"></i>
                    </div>
                  </div>

                  <p class="parag__">
                    There is a fact that is proven for a long time, which is
                    that the readable content of a page What the reader will be
                    to focus on the exterior of the text
                  </p>

                  <h5 class="loaction__">
                    <img
                      class="icon__"
                      src="assets/images/shapes/customers_opinions_location_icon__.svg"
                      alt="..."
                    />
                    Saudi Arabia, Jeddah, Al -Safa neighborhood
                  </h5>
                </div>
              </div>
            </div>
            <div
              class="col-lg-6 aos-init aos-animate"
              data-aos-offset="-500"
              data-aos="fade-left"
            >
              <div class="customer_opinions_card__">
                <div class="imgwrapper__">
                  <figure class="figure__ loading-omd asp-om">
                    <img
                      class="img-om lazy-omd"
                      data-src="assets/images/customers_opinions/02.jpg"
                      alt="..."
                    />
                  </figure>
                </div>
                <div class="description_wrapper__">
                  <div class="head_wrapper__">
                    <h4 class="title__">Amna Saud Mahmoud</h4>

                    <div class="rating_wrapper__">
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star active"></i>
                      <i class="fa-solid fa-star active"></i>
                      <i class="fa-solid fa-star active"></i>
                      <i class="fa-solid fa-star active"></i>
                    </div>
                  </div>

                  <p class="parag__">
                    There is a fact that is proven for a long time, which is
                    that the readable content of a page What the reader will be
                    to focus on the exterior of the text
                  </p>

                  <h5 class="loaction__">
                    <img
                      class="icon__"
                      src="assets/images/shapes/customers_opinions_location_icon__.svg"
                      alt="..."
                    />
                    Saudi Arabia, Jeddah, Al -Safa neighborhood
                  </h5>
                </div>
              </div>
            </div>
            <div
              class="col-lg-6 aos-init aos-animate"
              data-aos-offset="-500"
              data-aos="fade-left"
            >
              <div class="customer_opinions_card__">
                <div class="imgwrapper__">
                  <figure class="figure__ loading-omd asp-om">
                    <img
                      class="img-om lazy-omd"
                      data-src="assets/images/customers_opinions/03.jpg"
                      alt="..."
                    />
                  </figure>
                </div>
                <div class="description_wrapper__">
                  <div class="head_wrapper__">
                    <h4 class="title__">Amna Saud Mahmoud</h4>

                    <div class="rating_wrapper__">
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star active"></i>
                      <i class="fa-solid fa-star active"></i>
                      <i class="fa-solid fa-star active"></i>
                      <i class="fa-solid fa-star active"></i>
                    </div>
                  </div>

                  <p class="parag__">
                    There is a fact that is proven for a long time, which is
                    that the readable content of a page What the reader will be
                    to focus on the exterior of the text
                  </p>

                  <h5 class="loaction__">
                    <img
                      class="icon__"
                      src="assets/images/shapes/customers_opinions_location_icon__.svg"
                      alt="..."
                    />
                    Saudi Arabia, Jeddah, Al -Safa neighborhood
                  </h5>
                </div>
              </div>
            </div>
            <div
              class="col-lg-6 aos-init aos-animate"
              data-aos-offset="-500"
              data-aos="fade-left"
            >
              <div class="customer_opinions_card__">
                <div class="imgwrapper__">
                  <figure class="figure__ loading-omd asp-om">
                    <img
                      class="img-om lazy-omd"
                      data-src="assets/images/customers_opinions/03.jpg"
                      alt="..."
                    />
                  </figure>
                </div>
                <div class="description_wrapper__">
                  <div class="head_wrapper__">
                    <h4 class="title__">Amna Saud Mahmoud</h4>

                    <div class="rating_wrapper__">
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star active"></i>
                      <i class="fa-solid fa-star active"></i>
                      <i class="fa-solid fa-star active"></i>
                      <i class="fa-solid fa-star active"></i>
                    </div>
                  </div>

                  <p class="parag__">
                    There is a fact that is proven for a long time, which is
                    that the readable content of a page What the reader will be
                    to focus on the exterior of the text
                  </p>

                  <h5 class="loaction__">
                    <img
                      class="icon__"
                      src="assets/images/shapes/customers_opinions_location_icon__.svg"
                      alt="..."
                    />
                    Saudi Arabia, Jeddah, Al -Safa neighborhood
                  </h5>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End Our Customers' Opinions Section -->

    <!-- Start Footer -->

    <footer class="footer_sec__">
      <div class="container">
        <div class="footer_content__">
          <div class="footer_block__">
            <a class="footer_logo__" href="index.html">
              <figure class="figure__">
                <img src="assets/images/footer_logo.svg" alt=".." />
              </figure>
            </a>
            <p class="footer_parag__">
A medical center for physical therapy and cupping 10 years experience and more than 100 doctors            </p>
          </div>

          <div class="footer_block__">
            <h4 class="footer_block_head__">the site</h4>
            <p class="footer_location_parag__">
              <img
                class="icon__"
                src="assets/images/shapes/customers_opinions_location_icon__.svg"
                alt="..."
              />
              <span class="parag_content__">
Jeddah, Salama District, Sari Street, next to Salem Bank, second floor              </span>
            </p>
          </div>

          <div class="fotter_links_block__ footer_block__">
            <h4 class="footer_block_head__">Quick links</h4>
            <ul class="footer_list__ list-unstyled">
              <li><a href="index.html">Main</a></li>
              <li>
                <a href="about_us.html">call us</a>
              </li>
              <li><a href="our_services.html">Our service </a></li>
              <li><a href="our_projects.html">join us></li>
            </ul>
          </div>

          <div class="footer_block__">
            <h4 class="news_mail_title__">Subscribe to our postage</h4>
            <div class="news_mail_input__wrapper__">
              <input
                type="text"
                class="input__ none_border__"
                placeholder="Enter the email"
              />
              <button class="submit-button__">subscription</button>
            </div>
          </div>
        </div>
      </div>
      <div class="footer_banks_icons_wrapper__">
        <figure class="figure__ icon__">
          <img
            src="assets/images/bank_icons/tamara.png"
            alt="..."
            class="img-om"
          />
        </figure>
        <figure class="figure__ icon__">
          <img
            src="assets/images/bank_icons/visa.png"
            alt="..."
            class="img-om"
          />
        </figure>
        <figure class="figure__ icon__">
          <img
            src="assets/images/bank_icons/mada.png"
            alt="..."
            class="img-om"
          />
        </figure>
        <figure class="figure__ icon__">
          <img
            src="assets/images/bank_icons/tabby.png"
            alt="..."
            class="img-om"
          />
        </figure>
        <figure class="figure__ icon__">
          <img
            src="assets/images/bank_icons/mispay.png"
            alt="..."
            class="img-om"
          />
        </figure>
      </div>
    </footer>

    <!-- End Footer -->

    <!-- start js include  -->
    <script src="assets/js/jquery-3.3.1.min.js"></script>
    <script src="assets/js/jquery-ui.min.js"></script>
    <script src="assets/js/jquery.datepick-ar.js"></script>
    <script src="assets/js/jquery.fancybox.min.js"></script>
    <script src="assets/js/popper.min.js"></script>
    <script src="assets/js/swiper.min.js"></script>
    <script src="assets/js/swiper_props.js"></script>
    <script src="assets/js/bootstrap-select.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/mixitup.min.js"></script>
    <script src="assets/js/aos.js"></script>
    <script src="assets/js/repeater.js"></script>
    <script src="assets/js/plugin.js"></script>
  </body>
</html>
